/* HERO SECTION */

.hero {
  position: relative;
  min-height: 92vh;
  padding: 100px 6%;
  overflow: hidden;

  background:
    radial-gradient(circle at top left,
      #1e40af40,
      transparent 40%),
    radial-gradient(circle at bottom right,
      #38bdf840,
      transparent 40%),
    linear-gradient(
      135deg,
      #020617,
      #020617,
      #020617
    );
}

/* GLOW BALLS */

.glow {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.6;
  animation: float 6s infinite alternate;
}

.glow-1 {
  background: #38bdf8;
  top: 10%;
  left: 5%;
}

.glow-2 {
  background: #6366f1;
  bottom: 10%;
  right: 5%;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}


/* LAYOUT */

.hero-content {
  position: relative;
  z-index: 5;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}


/* TEXT */

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero-text span {
  background: linear-gradient(
    90deg,
    #38bdf8,
    #6366f1
  );

  -webkit-background-clip: text;
  color: transparent;
}

.hero-text p {
  margin: 25px 0;
  max-width: 450px;
  font-size: 1.1rem;
  color: var(--color-text-muted);
}


/* BUTTON */

.hero-btn {
  background: linear-gradient(
    90deg,
    #38bdf8,
    #6366f1
  );

  color: #020617;
  border: none;
  padding: 14px 36px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;

  box-shadow:
    0 10px 30px #38bdf860;

  transition: 0.3s;
}


/* SWIPER */

.product-swiper {
  padding: 50px 0;
}


/* CARD */

.product-card {
  width: 260px;

  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(15px);

  border-radius: 18px;
  padding: 20px;

  border: 1px solid #ffffff15;

  box-shadow:
    0 20px 50px #00000090;

  text-align: center;

  transform-style: preserve-3d;
}


/* IMAGE */

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;

  border-radius: 12px;
  margin-bottom: 15px;
}


/* TEXT */

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  color: var(--color-accent);
  font-weight: 700;
}


/* CARD BUTTON */

.product-card button {
  margin-top: 12px;

  background: transparent;
  color: #38bdf8;

  border: 1px solid #38bdf8;

  padding: 6px 14px;

  border-radius: 20px;

  cursor: pointer;
  transition: 0.3s;
}

.product-card button:hover {
  background: #38bdf8;
  color: #020617;
}


/* PAGINATION */

.swiper-pagination-bullet {
  background: #64748b;
}

.swiper-pagination-bullet-active {
  background: #38bdf8;
}


/* RESPONSIVE */

@media (max-width: 900px) {
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
