.home-container {
  max-width: 900px;
  margin: 80px auto;
  padding: 40px;

  background: var(--color-bg-secondary);

  border-radius: var(--radius-lg);

  box-shadow: var(--shadow-lg);
}

.home-title {
  font-size: 2.2rem;
  margin-bottom: 8px;
}

.home-email {
  color: var(--color-text-muted);
  margin-bottom: 25px;
}

.home-btn {
  padding: 10px 24px;

  background: transparent;

  border: 1px solid var(--color-accent);

  color: var(--color-accent);

  border-radius: var(--radius-sm);

  cursor: pointer;

  transition: var(--transition-mid);
}

.home-btn:hover {
  background: var(--color-accent);
  color: #020617;
}
